$image-load-timing: 200ms linear;
$color-toolbar-bg: #0E141B;
$zIndexAboveRing: 10002;
$easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
$easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
$topBarHeight: var(--basicui-header-height, 40px);
