$image-load-timing: 200ms linear;
$color-toolbar-bg: #0E141B;
$zIndexAboveRing: 10002;
$easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
$easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);

#sgdb-wrap {
  --asset-size: 120px;
  margin-top: 40px;
  height: calc(100% - 40px);

  .tabcontents-wrap {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  .spinnyboi {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    height: 100%;
    flex: 1;
    justify-content: center;
    left: 0;
    right: 0;
    z-index: $zIndexAboveRing + 6; // above settings
    background: $color-toolbar-bg;
    transition: opacity ease-out 250ms, z-index 0s 300ms;
    will-change: opacity;
    > img {
      transform: scale(.75);
      transition: transform ease-out 300ms;
      will-change: transform;
      margin-top: -50px; // vertical center-ish
    }
    &.loaded {
      z-index: -1;
      opacity: 0;
      > img {
        transform: scale(.6);
      }
    }
  }

  .settings-container {
    z-index: $zIndexAboveRing; // above focusring
    // offset to fill width, vw value is from .gamepadtabbedpage_TabContentsScroll
    padding: .5em 2.8vw;
    margin: 0 -2.8vw;
    background-color: var(--gpSystemDarkestGrey, $color-toolbar-bg);
    &.force-show {
      position: sticky;
      top: 0;
    }
    > .action-buttons {
      display: flex;
      width: 100%;
      gap: var(--gpSpace-Gap, .6em);
      .size-slider {
        flex: 1;
        padding: .5em 1em;
        justify-content: center;
      }
    }
  }

  #images-container {
    display: grid;
    padding-top: 1em;
    margin-bottom: 1em;
    justify-content: space-evenly;
    grid-auto-flow: dense;
    row-gap: 1em;
    column-gap: .65em;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--asset-size), 100%), var(--asset-size)));
  }

  // initial wrap so focusable element can variable focus ring sizes
  .image-box-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    .image-wrap {
      background: url('/images/defaultappimage.png') center center;
      background-size: cover;
      position: relative;
      width: 100%;
      margin-top: auto;
      /* aspect-ratio: 2/3; CEF version doesn't support this, gotta do it the painful way */

      &.gpfocus {
        z-index: 3 + $zIndexAboveRing;
      }

      // fixed height for logos
      &.type-logo {
        padding-bottom: 0 !important;
        height: 185px;
        > .thumb {
          padding: .5em;
          // add bg here for logos so chips can go behind
          background: url('/images/defaultappimage.png') center center;
          background-size: cover;
          img,
          video {
            position: static;
            width: auto;
          }
        }
      }

      .preload-spinner {
        position: absolute;
        height: 2em;
        opacity: 1;
        transition: opacity $image-load-timing;
        &[data-loaded="true"] {
          opacity: 0;
        }
      }

      > .thumb {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        img,
        video {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          max-height: 100%;
          max-width: 100%;
          width: 100%;
          height: auto;
          margin: 0 auto;
          z-index: 1;
          opacity: 0;
          transition: opacity $image-load-timing;
          &[data-loaded="true"] {
            opacity: 1;
          }
        }
      }

    }
    .dload-overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -3;
      background: rgba(0, 0, 0, .85);
      transition: opacity ease 100ms, z-index 0s 100ms;
      &.downloading {
        opacity: 1;
        z-index: 2;
        transition: opacity ease 100ms;
      }
      > img {
        width: 100%;
        max-height: 50%;
        max-width: 4em;
      }
    }
    .author {
      display: flex;
      align-items: center;
      gap: .5em;
      font-size: .65em;
      padding-top: .15em;
      margin-top: auto;
      overflow: hidden;
      > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      img {
        max-width: 1em;
      }
    }
    .chips {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: -.5em;
      top: 0;
      font-size: .5em;
      font-weight: bold;
      text-transform: uppercase;
      z-index: -1;
      transition: transform $easeOutCubic 300ms;
      will-change: transform;
      .chip {
        background: #8a8a8a;
        padding: .5em;
        padding-right: .8em;
        display: flex;
        gap: .3em;
        align-items: center;
        border-radius: 0 5px 5px 0;
      }
      &.chips-left {
        right: auto;
        left: -.5em;
        .chip {
          padding-right: 1em;
          padding-left: .8em;
          border-radius: 5px 0 0 5px;
        }
      }
    }
    .image-wrap.gpfocus {
      .chips {
        transform: translateX(calc(100% - .5em - 1px)); // 1px more than how much is already sticking out
        > .chip {
          background: linear-gradient(to right, #626262, var(--chip-color) 4px);
          box-shadow: 1px 2px 3px rgba(#000, .25);
        }
        &.chips-left {
          transform: translateX(calc(-100% + .5em + 1px));
          > .chip {
            background: linear-gradient(to left, #626262, var(--chip-color) 4px);
            box-shadow: -2px 2px 3px rgba(#000, .25);
          }
        }
      }
    }
  }
}
